@import "library/font.scss";
@import "library/responsive.scss";

/* variables colors  */

$white: #f2f5f8;
$green: #0e7a69;
$red: #7a0e1d;
$cherry: #c62a40;
$skyblue: #22d3b8;
$darkgreen: #1b2d2a;
$blue: #1d7294;
$pink: #f98091;

$linear: linear-gradient(
    to bottom,
    #0e7a69,
    #128a77,
    #159a85,
    #19ab94,
    #1dbca3,
    #34c7af,
    #45d1ba,
    #55dcc6,
    #6fe2d0,
    #86e9d9,
    #9cefe2,
    #b0f5eb
);

$simpleTransition: all 0.3s ease-in-out;

body {
    font-size: 15px;
    background: $white; /* TODO faire le mode dark */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* custum scroll-bar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $skyblue;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $linear;
    opacity: 0.3;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $skyblue;
    opacity: 0.3;
}

.drawings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 10px;

    h2 {
        font-family: $MvtBlack;
        text-align: center;
        color: $cherry;
        margin-bottom: 40px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        height: 1000px;

        .border {
            border: 1px $skyblue solid;
            padding: 5px;
            border-radius: 5px;
        }

        .desc {
            font-family: $MontReg;
            color: $darkgreen;
            text-align: center;
            font-size: 0.75rem;

            a {
                text-decoration: none;
                color: $cherry;

                &:visited {
                    /* TODO check my graphic chart for hover/visited/active/focus link -> coherence */
                    color: $green;
                }
            }
        }

        img {
            width: 100%;
            border-radius: 5px;
        }
    }
}

/***********************Responsive tablet */
@media #{$tablet} {
    .drawings {
        h2 {
            font-size: 2rem;
        }

        .gallery {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: auto;
            width: 60vw;

            .desc {
                font-size: 0.85rem;
                padding-top: 5px;
                line-height: 25px;
            }
            
            .border {
                margin: 15px 0px;
                width: 100%;
            }
        }
    }
}

/***********************Responsive desktop */
@media #{$desktop} {
}
