@font-face {
    font-family: "MvtDirect-Thin";
    src: url("../fonts/Movement-DirectThin.woff");
}

@font-face {
    font-family: "MvtDirect-Black";
    src: url("../fonts/Movement-DirectBlack.woff");
}

@font-face {
    font-family: "MontserratAlternates-Regular";
    src: url("../fonts/MontserratAlternates-Regular.ttf");
}

@font-face {
    font-family: "MontserratAlternates-Medium";
    src: url("../fonts/MontserratAlternates-Medium.ttf");
}

@font-face {
    font-family: "MontserratAlternates-Light";
    src: url("../fonts/MontserratAlternates-Light.ttf");
}

/* TODO amélioration font-face avec sass */

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin animation($animation, $duration, $timing, $iteration) {
    -webkit-animation-name: $animation;
    -webkit-animation-duration: $duration;
    -webkit-animation-timing-function: $timing;
    -webkit-animation-iteration-count: $iteration;

    -moz-animation-name: $animation;
    -moz-animation-duration: $duration;
    -moz-animation-timing-function: $timing;
    -moz-animation-iteration-count: $iteration;

    animation-name: $animation;
    animation-duration: $duration;
    animation-timing-function: $timing;
    animation-iteration-count: $iteration;
}

body {
    font-size: 15px;
    background: #f2f5f8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* TODO use variables to create breakpoints */

/* design Menu */

#menu_hamburger {
    position: fixed;
    z-index: 2;
    top: 15px;
    right: 20px;
    cursor: pointer;

    img {
        width: 40px;
    }
}

.navBar {
    width: 220px;
    height: 210px;
    border-bottom-left-radius: 200px;
    background-color: #0e7a69;
    position: fixed;
    z-index: 99999999;
    top: 0px;
    right: 0px;

    .menu {
        opacity: 1;

        height: 100%;
        font-size: 0.65em;
        color: #f2f5f8;
        text-align: center;
    }

    .list {
        font-size: 1.5em;
        line-height: 22px;
        padding-top: 10px;
        padding-left: 60px;

        li {
            list-style: none;
            cursor: pointer;
            opacity: 0.7;
            transition: all 0.5s ease-in-out;

            &:hover {
                opacity: 1;
                transform: scale(1.4);
            }

            img {
                width: 30px;
            }

            a {
                color: #f2f5f8;
                text-decoration: none;
                font-family: "MvtDirect-Thin";
            }
        }
    }
}

.hide_menu {
    display: none;
}

.bounce {
    @include keyframes(bounce) {
        0% {
            transform: translateY(-1px);
        }
        20% {
            transform: translateY(-50px);
        }
        40% {
            transform: translateY(-5px);
        }
        60% {
            transform: translateY(-30px);
        }
        80% {
            transform: translateY(-1px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    @include animation(bounce, 0.8s, ease, 1);
}

/* design Intro */

.logo {
    a {
        position: fixed;
        z-index: 9999999999;
        top: 15px;
        left: 20px;
        cursor: pointer;

        img {
            width: 60px;
        }
    }
}

.introduction {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-flow: column nowrap;
    width: 80vw;
    margin-top: 100px;
    padding-bottom: 5px;
    background-image: linear-gradient(to right, #22d3b8 30%, rgba(255, 255, 255, 0) 10%);
    background-position: bottom;
    background-size: 10px 3px;
    background-repeat: repeat-x;

    .images_intro {
        display: flex;
        justify-content: center;
        width: 50%vw;
        margin-top: 40px;

        .image_Manon {
            img {
                width: 400px;/* TODO do another size for the mobile especially */
                z-index: 2;
            }
        }
    }

    .text_intro {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        margin: auto;
        text-align: center;
        width: 80%;

        h1 {
            font-family: "MvtDirect-Black";
            font-size: 1rem;
            color: #7a0e1d;
        }

        p {
            font-family: "MontserratAlternates-Regular";
            font-size: 0.7rem;
            color:#0e7a69;
            line-height: 20px;
            margin: 15px;
        }
    }
}

/* design aim_banner */

.aim_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .aim {
        img {
            width: 220px;
        }
    }
}

/* design experiences_section */





/*******************Responsive Tablet */
@media all and (min-width: 700px) {
    /* design Menu */
    #menu_hamburger {
        img {
            width: 70px;
        }
    }

    .navBar {
        width: 295px;
        height: 302px;
        border-bottom-left-radius: 295px;

        .list {
            font-size: 2.5em;
            line-height: 30px;
            padding-left: 80px;
            padding-top: 15px;

            li {
                img {
                    width: 40px;
                }
            }
        }
    }

    /* design Intro */
    .logo {
        a {
            left: 30px;
            top: 20px;

            img {
                width: 110px;
            }
        }
    }

    .introduction {
        .images_intro {
            .image_Manon {
                img {
                    width: 740px;
                }
            }
        }

        .text_intro {
            padding-bottom: 25px;
            h1 {
                margin-top: 30px;
                font-size: 1.5rem;
            }

            p {
                margin-top: 30px;
                font-size: 1rem;
                line-height: 25px;
            }
        }
    }

    /* design aim_banner */

    .aim_banner {
        .aim {
            img {
                width: 285px;
            }
        }
    }
}

/***********************Responsive Desktop */
@media all and (min-width: 960px) {
    /* design menu */
    #menu_hamburger {
        img {
            width: 90px;
        }
    }

    .navBar {
        width: 400px;
        height: 375px;
        border-bottom-left-radius: 385px;

        .list {
            font-size: 3em;
            line-height: 38px;
            padding-left: 100px;
            padding-top: 25px;

            li {
                img {
                    width: 50px;
                }
            }
        }
    }

    /* design intro */

    .introduction {
        .images_intro {
            .image_Manon {
                img {
                    width: 1195px;
                }
            }
        }

        .text_intro {
            padding-bottom: 40px;
        }
    }

    /* design aim_banner */

    .aim_banner {
        .aim {
            margin-top: 40px;
            img {
                width: 365px;
            }
        }
    }
}
