@font-face {
    font-family: "MvtDirect-Thin";
    src: url("../fonts/Movement-DirectThin.woff");
}

body {
    font-size: 15px;
    background: #f2f5f8;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* design Menu */

.navBar {
    width: 290px;
    height: 210px;
    border-bottom-left-radius: 200px;
    background-color: #0e7a69;
    position: fixed;
    z-index: 99999999;
    transition: width 0.3s, height 0.3s; /* for the show/hide transition */
    top: 0px;
    right: 0px;
    transform-origin: 100% 0%;

    .menu {
        opacity: 1;
        transition: opacity 0.3s 0.3s;
        height: 100%;
        font-size: 0.65em;
        color: #f2f5f8;
        text-align: center;
    }

    .list {
        font-size: 1.5em;
        line-height: 22px;
        padding-top: 10px;

        li{
            list-style: none;
        };

        a {
            color: #f2f5f8;
            text-decoration: none;
            font-family: "MvtDirect-Thin";
        }
    }

    /* design Menu-tablet */

    /* design Menu-desktop */
}
