@import "library/font.scss";
@import "library/responsive.scss";

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin animation($animation, $duration, $timing, $iteration) {
    -webkit-animation-name: $animation;
    -webkit-animation-duration: $duration;
    -webkit-animation-timing-function: $timing;
    -webkit-animation-iteration-count: $iteration;

    -moz-animation-name: $animation;
    -moz-animation-duration: $duration;
    -moz-animation-timing-function: $timing;
    -moz-animation-iteration-count: $iteration;

    animation-name: $animation;
    animation-duration: $duration;
    animation-timing-function: $timing;
    animation-iteration-count: $iteration;
}

/* variables colors  */

$white: #f2f5f8;
$green: #0e7a69;
$red: #7a0e1d;
$cherry: #c62a40;
$skyblue: #22d3b8;
$darkgreen: #1b2d2a;

body {
    font-size: 15px;
    background: $white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* design Menu */

#menu_hamburger {
    position: fixed;
    z-index: 2;
    top: 15px;
    right: 20px;
    cursor: pointer;

    img {
        width: 40px;
    }
}

.navBar {
    width: 220px;
    height: 210px;
    border-bottom-left-radius: 200px;
    background-color: $green;
    position: fixed;
    z-index: 99999999;
    top: 0px;
    right: 0px;

    .menu {
        opacity: 1;

        height: 100%;
        font-size: 0.65em;
        color: $white;
        text-align: center;
    }

    .list {
        font-size: 1.5em;
        line-height: 22px;
        padding-top: 10px;
        padding-left: 60px;

        li {
            list-style: none;
            cursor: pointer;
            opacity: 0.7;
            transition: all 0.5s ease-in-out;

            &:hover {
                opacity: 1;
                transform: scale(1.4);
            }

            img {
                width: 30px;
            }

            a {
                color: $white;
                text-decoration: none;
                font-family: $MvtThin;
            }
        }
    }
}

.hide_menu {
    display: none;
}

.bounce {
    @include keyframes(bounce) {
        0% {
            transform: translateY(-1px);
        }
        20% {
            transform: translateY(-50px);
        }
        40% {
            transform: translateY(-5px);
        }
        60% {
            transform: translateY(-30px);
        }
        80% {
            transform: translateY(-1px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    @include animation(bounce, 0.8s, ease, 1);
}

/* design Intro */

.logo {
    a {
        position: fixed;
        z-index: 9999999999;
        top: 15px;
        left: 20px;
        cursor: pointer;

        img {
            width: 60px;
        }
    }
}

.introduction {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-flow: column nowrap;
    width: 80vw;
    margin-top: 100px;
    padding-bottom: 5px;
    background-image: linear-gradient(to right, $skyblue 30%, rgba(255, 255, 255, 0) 10%);
    background-position: bottom;
    background-size: 10px 3px;
    background-repeat: repeat-x;

    .images_intro {
        display: flex;
        justify-content: center;
        width: 50%vw;
        margin-top: 6px;

        .image_Manon {
            picture {
                img {
                    width: 340px;
                    z-index: 2;
                }
            }
        }
    }

    .text_intro {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        margin: auto;
        text-align: center;
        width: 80%;

        h1 {
            font-family: $MvtBlack;
            font-size: 1rem;
            color: $red;
        }

        p {
            font-family: $MontReg;
            font-size: 0.7rem;
            color: $green;
            line-height: 20px;
            margin: 15px;
        }
    }
}

/* design aim_banner */

.aim_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;

    .aim {
        img {
            width: 310px;
        }
    }
}

/* design experiences_section */

.experiences,
.backgrounds {
    margin-top: 55px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: auto;

    .title1,
    .title2 {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 15px;
        width: 90%;

        img {
            width: 200px;
        }
    }

    .title1 {
        justify-content: flex-start;
        margin-left: 20px;
    }

    .container_exp,
    .container_back {
        width: 90%;
        background: transparent;
        margin-top: 25px;
        border-radius: 77% 273% 90% 28% / 35% 31% 35% 100%;
        border-top: 3px solid $skyblue;
        border-left: 3px solid $skyblue;
        display: flex;
        justify-content: flex-start;
        flex-flow: column nowrap;
        padding-left: 20px;
        padding-bottom: 10px;
        overflow-y: scroll;
        height: 215px;

        div > p {
            font-family: $MvtBlack;
            font-size: 11px;
            color: $red;
        }

        .subtext > p {
            font-family: $MontMed;
            font-size: 10px;
            color: $darkgreen;

            a {
                text-decoration: none;
                color: $darkgreen;
                cursor: pointer;

                &:visited {
                    color: $green;
                }
            }
        }

        .exp1,
        .exp2,
        .exp3,
        .exp4,
        .exp5,
        .exp6,
        .back1,
        .back2,
        .back3,
        .back4,
        .back5,
        .back6 {
            width: 95%;
            height: 100%px;
            margin-top: 16px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            padding-top:5px;

            .container_flex {
                display: flex;
                flex-flow: column nowrap;
                width: 60%;
                justify-content: center;
            }

            .tag_exp,
            .tag_back {
                height: 45px;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-flow: column;
                align-items: center;

                p {
                    font-family: $MontBold;
                    color: $white;
                    text-align: center;
                    padding-bottom: 5px;
                    font-size: 10px;
                }
            }

            .tag_exp {
                p {
                    z-index: 2;
                    position: relative;
                    top:30px;
                    padding-left: 25px;
                }

                img {
                    width: 130px;
                }
            }

            .subtext {
                p > span {
                    color: $skyblue;
                }
            }
        }

        .exp2,
        .exp3,
        .exp4,
        .exp5,
        .exp6,
        .back2,
        .back3,
        .back4,
        .back5,
        .back6 {
            margin-top: 10px;
        }
    }
}

.backgrounds {
    margin-top: 50px;

    .title2 {
        justify-content: flex-end;
        margin-right: 20px;
    }

    .container_back {
        padding-left: 0px;

        /*  div > p {
            text-align: end;
        } */

        .back1,
        .back2,
        .back3,
        .back4,
        .back5,
        .back6 {
            .tag_back {
                width: 20%;

                img {
                    width: 90px;
                }
            }
        }
    }
}

/*******************Responsive Tablet */
@media #{$tablet} {
    /* design Menu */
    #menu_hamburger {
        img {
            width: 70px;
        }
    }

    .navBar {
        width: 295px;
        height: 302px;
        border-bottom-left-radius: 295px;

        .list {
            font-size: 2.5em;
            line-height: 30px;
            padding-left: 80px;
            padding-top: 15px;

            li {
                img {
                    width: 40px;
                }
            }
        }
    }

    /* design Intro */
    .logo {
        a {
            left: 30px;
            top: 20px;

            img {
                width: 110px;
            }
        }
    }

    .introduction {
        .images_intro {
            .image_Manon {
                picture {
                    img {
                        width: 740px;
                    }
                }
            }
        }

        .text_intro {
            padding-bottom: 25px;
            h1 {
                margin-top: 30px;
                font-size: 1.5rem;
            }

            p {
                margin-top: 30px;
                font-size: 1rem;
                line-height: 25px;
            }
        }
    }

    /* design aim_banner */

    .aim_banner {
        .aim {
            img {
                width: 285px;
            }
        }
    }

    /* design section_exp */

    .experiences,
    .backgrounds {
        width: 80vw;

        .title1 {
            margin-bottom: 45px;
            img {
                width: 335px;
            }
        }

        .container_exp {
            width: 90%;
            padding-left: 40px;
            height: 320px;

            div > p {
                font-size: 14px;
            }

            .subtext > p {
                font-size: 14px;
            }

            .exp1,
            .exp2,
            .exp3,
            .exp4,
            .exp5,
            .exp6 {
                height: 200px;

                .tag_exp {
                    height: 100%;
                    padding-left: 25px;

                    p {
                        font-family: $MontBold;
                        font-size: 13px;
                        top: 40px;
                        padding-left: 30px;                        
                    }

                    img{
                        width: 173px;
                    }
                }
            }
        }
    }
}

/***********************Responsive Desktop */
@media #{$desktop} {
    /* design menu */
    #menu_hamburger {
        img {
            width: 90px;
        }
    }

    .navBar {
        width: 400px;
        height: 375px;
        border-bottom-left-radius: 385px;

        .list {
            font-size: 3em;
            line-height: 38px;
            padding-left: 100px;
            padding-top: 25px;

            li {
                img {
                    width: 50px;
                }
            }
        }
    }

    /* design intro */

    .introduction {
        .images_intro {
            .image_Manon {
                picture {
                    img {
                        width: 1195px;
                    }
                }
            }
        }

        .text_intro {
            padding-bottom: 40px;
        }
    }

    /* design aim_banner */

    .aim_banner {
        .aim {
            margin-top: 40px;
            img {
                width: 365px;
            }
        }
    }

    /* design exp_section*/

    .experiences {
        .container_exp {
            width: 50%;
            height: 362px;

            div > p {
                font-size: 18px;
            }

            .exp1,
            .exp2,
            .exp3,
            .exp4,
            .exp5,
            .exp6 {

                height: 100%;

                .container_flex {
                    height: 100%;
                }
            }

            .subtext > p {
                font-family: $MontMed;
                font-size: 14px;

                a {
                    &:hover,
                    &:active {
                        color: $cherry;
                    }
                }
            }

            .tag_exp{
                    height: 100%;
            }
        }
    }
}
