@font-face {
  font-family: "MvtDirect-Thin";
  src: url("../fonts/Movement-DirectThin.woff");
}

@font-face {
  font-family: "MvtDirect-Black";
  src: url("../fonts/Movement-DirectBlack.woff");
}

@font-face {
  font-family: "MontserratAlternates-Regular";
  src: url("../fonts/MontserratAlternates-Regular.ttf");
}

@font-face {
  font-family: "MontserratAlternates-Medium";
  src: url("../fonts/MontserratAlternates-Medium.ttf");
}

@font-face {
  font-family: "MontserratAlternates-Light";
  src: url("../fonts/MontserratAlternates-Light.ttf");
}

body {
  font-size: 15px;
  background: #f2f5f8;
  height: 100vh;
  width: 100vw;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* TODO use variables to create breakpoints */
/* design Menu */
#menu_hamburger {
  position: fixed;
  z-index: 2;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

#menu_hamburger img {
  width: 40px;
}

.navBar {
  width: 220px;
  height: 210px;
  border-bottom-left-radius: 200px;
  background-color: #0e7a69;
  position: fixed;
  z-index: 99999999;
  top: 0px;
  right: 0px;
}

.navBar .menu {
  opacity: 1;
  height: 100%;
  font-size: 0.65em;
  color: #f2f5f8;
  text-align: center;
}

.navBar .list {
  font-size: 1.5em;
  line-height: 22px;
  padding-top: 10px;
  padding-left: 60px;
}

.navBar .list li {
  list-style: none;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navBar .list li:hover {
  opacity: 1;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.navBar .list li img {
  width: 30px;
}

.navBar .list li a {
  color: #f2f5f8;
  text-decoration: none;
  font-family: "MvtDirect-Thin";
}

.hide_menu {
  visibility: hidden;
}

.bounce {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: bounce;
  -moz-animation-duration: 0.8s;
  -moz-animation-timing-function: ease;
  -moz-animation-iteration-count: 1;
  animation-name: bounce;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  20% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  40% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  60% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  20% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  40% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  60% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/* design Menu-tablet */
@media all and (min-width: 700px) {
  #menu_hamburger img {
    width: 70px;
  }
  .navBar {
    width: 295px;
    height: 302px;
    border-bottom-left-radius: 295px;
  }
  .navBar .list {
    font-size: 2.5em;
    line-height: 30px;
    padding-left: 80px;
    padding-top: 15px;
  }
  .navBar .list li img {
    width: 40px;
  }
}

/* design Menu-desktop */
@media all and (min-width: 960px) {
  #menu_hamburger img {
    width: 90px;
  }
  .navBar {
    width: 400px;
    height: 375px;
    border-bottom-left-radius: 385px;
  }
  .navBar .list {
    font-size: 3em;
    line-height: 38px;
    padding-left: 100px;
    padding-top: 25px;
  }
  .navBar .list li img {
    width: 50px;
  }
}

/* design Intro */
.logo a {
  position: fixed;
  z-index: 9999999999;
  top: 15px;
  left: 20px;
  cursor: pointer;
}

.logo a img {
  width: 60px;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%vw;
  margin-top: 100px;
}

.introduction .images_intro {
  width: 50%vw;
}

.introduction .images_intro .web_safe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 25vh;
  left: 10%vw;
  right: 0;
}

.introduction .images_intro .web_safe img {
  width: 100px;
  opacity: 0.7;
}

.introduction .images_intro .web_safe img:hover {
  opacity: 1;
}

.introduction .images_intro .image_Manon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.introduction .images_intro .image_Manon img {
  width: 300px;
  z-index: 2;
}

.introduction .text_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: auto;
  text-align: center;
  width: 80%;
}

.introduction .text_intro h1 {
  font-family: "MvtDirect-Black";
  font-size: 1rem;
  color: #7a0e1d;
}

.introduction .text_intro h3 {
  font-family: "MontserratAlternates-Light";
  font-size: 0.7rem;
  color: #22d3b8;
  line-height: 20px;
  margin: 15px;
}
/*# sourceMappingURL=style.css.map */